.grid-container {
  display: grid;
  grid-gap: 5px;
  padding: 6px;
}

.grid-item {
  background-color: #F0F8FF;
  text-align: center;
  padding: 10px;
  font-size: 30px;
}

.header {
  padding: 1px;
  text-align: left; 
  color: rgb(31, 122, 8);
  font-size: 40px;
  background-position: center;
}
/*
header{
  font-size: 30px;
position: fixed;
margin-left: 1050px;
}

.topnav{
overflow: hidden;
}*/

body{
  background-color:#C6DEFF;
}

h1{
  font-size: 50px;
  font-style:harrington;
  text-align: center;
  color:#342D7E;
  
}

h4{
  color:#565051;
}

.description{
	font-size:25px;
	font-style:verdana;
}

.nine_arch{
	
	text-align:right;
	font-style:verdana;
	font-size:25px;
}

.nine{
	float:left;

}

.item1 {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.item2 {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.item5 {
  grid-column: 1 / span 3;
  grid-row: 3;
}