.header {
    padding: 40px;
    text-align: left; 
    background: #12725f;
    /*color: rgb(11, 107, 19); */
    color: rgb(243, 207, 4);
    font-size: 40px;
    border-radius: 15px;
    background: url("../magbay/images/greentea.png");
    background-position: center;
  }

  .header2 {
    padding: 40px;
    text-align: left;
    background: #65940d;
    color: white;
    font-size: 30px;
    border-radius: 15px;
    margin-left: 900px;
  }

  .grid-container{
    
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: auto auto ;
    border: 5px solid #f8f2bdce;
    background-color: #09cf3b;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    
    
   }
   
   .grid-item{
    background-color: ivory;
    border: 5px solid #e7f153cc;
    padding: 20px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    border-radius: 15px;
    
   }

   .itemdescription{
    font-family:Bradley Hand, cursive;
    font-size:23px;
    text-align: center;
    color:rgb(8, 189, 24)a;
   }